* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: rgb(248, 230, 207);
  display: grid;
  grid-template-columns: 3fr 1fr;
  overflow: hidden;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}

#wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#options {
  height: 100%;
  width: 100%;
  background: #0f0810;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  input {
    width: 100%;
    appearance: none;
    border: none;
    background: #5a0064;
    padding: 10px;
    color: white;
  }

  select {
    width: 100%;
    padding: 12px;
    background: #5a0064;
    color: white;
    border: none;
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    background: #5a0064;
    padding: 0;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    height: 41px;
    width: 1px;
  }

  .threshold {
    display: none;
  }

  &.show-threshold .threshold {
    display: flex;
  }
}

.field-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
